.boardContainer {
  position: relative;
  max-width: 410px;
  height: 410px;
  background-color: #a8bec9;
  margin: 20px auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  .renewGemePreloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #a8bec9;
    border-radius: 30px;
    animation: show 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      margin: auto;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 6px solid #102129;
      border-top-color: transparent;
      animation: preloader-rotate 1s infinite linear;
    }
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes preloader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
