.boardContainer {
  max-width: 410px;
  height: 410px;
  background-color: #a8bec9;
  margin: 20px auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
