.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  .modalBackground {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    animation: show 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
  .modalContent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #a8bec9;
    border-radius: 10px;
    z-index: 1;
    animation: slideDown 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    p {
      font-size: 24px;
      margin: auto;
    }
    button {
      display: block;
      margin: auto 0 0 0;
      text-align: center;
      background-color: #1f3540;
      color: #a9bfca;
      padding: 15px 30px;
      font-weight: 500;
      border-radius: 10px;
      font-size: 16px;
      width: fit-content;
      transition: 0.2s ease-in;
      &:hover {
        background-color: #2f4f5f;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
  }
  66% {
    transform: scale(0.4);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
